@font-face {
    font-family: 'CircularSTD';
    src: url(circular-std-medium-500.ttf);
}

body {
    background-size: cover;
    text-align: center;
    font-family: 'CircularSTD', sans-serif !important;
}

.heading {
    font-size: 30px;
    width: 100%;
    margin:0px;
    box-shadow: 5px 5px 5px gray;
}

.note {
    font-size: 15px;
    color: black;
}

.copyright_footer {
    position:fixed;
    color:white;
    bottom:0;
    width:100%;
    line-height: 3;
    text-align: center;
}

canvas {
    border:5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}